@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  background: rgb(211, 211, 211);
}
/* Header */
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 70px;

  background: rgb(211, 211, 211);
}
.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}
#nav-bar a {
  display: inline-block;
  font-size: 1.3em;
  text-decoration: none;
  margin: 20px 20px 0px 50px;
  color: black;
}

#nav-bar a:hover {
  text-decoration: underline;
}

#header-img {
  width: 75px;
}
/* Form  */
.form-container {
  text-align: center;
  margin-top: 110px;
}
#submit {
  display: block;
  margin: 0 auto;
  padding: 7px 20px;
  background-color: #e8b21f;
  border-color: #e8b21f;
}
.form-container h2,
#email {
  margin-bottom: 15px;
}

#email {
  padding: 7px 5px;
  width: 300px;
  background: white;
  border-radius: 5px;
}

/* Description */

.fab {
  font-size: 30px;
  color: #e8b21f;
}
#description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#description i,
h3 {
  margin-bottom: 5px;
}

.description-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

iframe {
  display: block;
  margin: 0 auto;
}
/* Pricing */
.header-pricing {
  text-align: center;
  margin-top: 50px;
}
#pricing {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  margin-bottom: 30px;
}

.price {
  border: 1px solid gray;
  margin: 30px;
  text-align: center;
}

.price h3 {
  padding: 10px 0px;
  background-color: rgb(100, 100, 100);
}

.price-info {
  padding: 10px 25px;
}

.price-info h4 {
  padding-bottom: 10px;
}

.price li {
  list-style-type: none;
}

@media screen and (max-width: 838px) {
  #pricing {
    display: grid;

    grid-template-columns: auto auto;
    justify-content: center;
  }
  .price {
    border: 1px solid gray;
    padding: 20px 25px;
    margin: 30px;
    width: 220px;
    text-align: center;
  }
}
